{{this.product.state}}
<div style="display: flex;">
    <mat-vertical-stepper style="flex-grow: 2;" [linear]="true" #stepper>
        <mat-step [stepControl]="step1FormControl">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Setup source and import data. (Link with MDC and other apps here)
                </ng-template>
                <p>Selecting sample CSV data source.</p>
                <ul>
                    <ol>
                        <mat-checkbox formControlName="testcsv1" required>Sales.csv</mat-checkbox>
                    </ol>
                    <ol>
                        <mat-checkbox formControlName="testcsv2">Market.csv</mat-checkbox>
                    </ol>
                </ul>
                <!-- <button [disabled]="!firstFormGroup.valid || product.state > 1" mat-button
                    (click)="onClick_step1_import()">Import</button> -->
                <button mat-stroked-button [disabled]="!firstFormGroup.valid" mat-button
                    (click)="onClick_step1_import()">Import</button>
                <div style="height: 1em;">
                    <mat-progress-bar *ngIf="product.state == 1.1" mode="buffer"></mat-progress-bar>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="step2FormControl">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Configure product.</ng-template>
                <p>Select filter criteria for the product.</p>
                <mat-form-field>
                    <mat-label>Select Filter Criteria</mat-label>
                    <mat-select formControlName="selectedSaleConditions" multiple>
                        <mat-option *ngFor="let value of product.SaleCondition" [value]="value">
                            {{value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br />
                <button mat-stroked-button [disabled]="!secondFormGroup.valid" mat-button
                    (click)="onClick_step2_done(2.1)">Create</button>
                <div style="height: 1em;">
                    <mat-progress-bar *ngIf="product.state == 2.1" mode="buffer"></mat-progress-bar>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="step3FormControl">
            <ng-template matStepLabel>Clean-up, analyze and produce insight.</ng-template>
            <p>Lets run Job Match, Valuation and Stats job.</p>
            <button [disabled]="!step3FormControl.valid" mat-button (click)="onClick_step2_done(3.1)">Run
                Stats</button>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Review output data.</ng-template>
            <button mat-button matStepperNext>Continue</button>
        </mat-step>
        <mat-step [stepControl]="step4FormControl">
            <ng-template matStepLabel>Publish data.</ng-template>
            <p>You are now done.</p>
            <div>
            </div>
        </mat-step>
    </mat-vertical-stepper>

    <div style="width: 30em; flex-grow: 0;">
        <mat-card class="example-card">
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title>{{product.name}}</mat-card-title>
                <mat-card-subtitle>Product created on {{product.timestamp | date: 'yyyy-MM-dd'}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                    Product lifecycle poc using airflow, angular, pandas and nodejs.
                </p>
                <h3>Product Data State</h3>
                <mat-chip-list multiple="true">
                    <mat-chip color="primary" [selected]="product.state >= 2">Setup</mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 3">Define Product</mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 4">Job Match
                    </mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 4">Valuation
                    </mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 4">Stats</mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 5">Review</mat-chip>
                    <mat-chip color="primary" [selected]="product.state >= 6">Published</mat-chip>
                </mat-chip-list>
                <div *ngIf="product.state >= 2">
                    <br />
                    <mat-divider></mat-divider>
                    <br />
                    <h3>Data Statistics</h3>
                    <ul>
                        <li>
                            Imported 107,032 rows of data. Total size 127mb.
                        </li>
                        <li *ngIf="product.state >= 3">
                            Product has 3 filter criteria with 78,003 rows of data.
                        </li>
                        <li *ngIf="product.state >= 4">
                            23,303 rows cleaned, 32 rows removed.
                        </li>
                    </ul>
                </div>
            </mat-card-content>
            <img *ngIf="product.state >= 4" mat-card-image src="http://localhost:3000/public/plot_basic.png" alt="Photo of a Shiba Inu">
            <mat-card-actions>
                <button mat-button>HISTORY</button>
                <button mat-button>NOTES</button>
            </mat-card-actions>
        </mat-card>
    </div>

</div>