<div style="display: flex; justify-content: space-between; align-items: center; padding-top: 1em; padding-bottom: 1em;">
  <h1>GST Data Pipeline</h1>
  <div>
    <mat-form-field style="width: 30em;">
      <mat-label>Select Product</mat-label>
      <mat-select [(value)]="selectedProductId" (selectionChange)="onSelectionChanged_Product()">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let product of products" [value]="product._id">
          {{product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <button (click)="onClick_Add()" mat-fab>New</button>
  </div>
</div>
<br />

<div *ngIf="selectedProductId != null">
  <app-process [product]="selectedProduct"></app-process>
</div>

<router-outlet></router-outlet>