<div style="display: flex; justify-content: space-between; align-items: center; padding-top: 1em; padding-bottom: 1em;">
  <h1>GST Data Pipeline</h1>
  <div>
    <mat-form-field style="width: 30em;">
      <mat-label>Select Product</mat-label>
      <mat-select [(value)]="selectedProduct" (selectionChange)="onSelectionChanged_Product()">
        <mat-option *ngFor="let product of products" [value]="product._id">
          {{product.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;
    <button (click)="onClick_Add()" mat-fab>New</button>
  </div>
</div>
<!-- <div style="height: 1em;">
  <mat-progress-bar *ngIf="selectedProduct == null"  mode="query"></mat-progress-bar>
</div> -->
<br />

<div *ngIf="selectedProduct != null">

  <div style="display: flex;">
    <mat-vertical-stepper style="flex-grow: 2;" [linear]="false" #stepper>
      <mat-step>
        <ng-template matStepLabel>Setup source and import data.</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Configure product.</ng-template>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Import data from source.</ng-template>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Clean-up, analyze and produce insight.</ng-template>
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Review output data.</ng-template>

      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Publish data.</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>

    <div style="width: 30em; flex-grow: 0;">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>HISTORY</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

</div>



<router-outlet></router-outlet>